.btn-yellow {
  background-color: #ff4e4e;
  border: 2px solid #ff4e4e;
  width: 220px;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
.btn-yellow:hover {
  background-color: #6beadb;
  border: 2px solid #6beadb;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
.edit-delete-button {
  background-color: #49c5b6;
  border: 2px solid #49c5b6;
  width: 220px;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
.edit-delete-button:hover {
  background-color: #6beadb;
  border: 2px solid #6beadb;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
.goback {
  margin-top: 70px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content:space-around;
  .btn-yellow {
    margin: 10px;
  }
}

.submit {
  background-color: #49c5b6;
  border: 3px solid #49c5b6;
  width: 100%;
  font-color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
}

.submit:hover {
  background-color: #6beadb;
  border: 3px solid #6beadb;
  font-weight: bolder;
  color: white;
}
