.btn-yellow {
  background: linear-gradient(135deg, #ef7070 0%, #FF0000 100%);
  border: none;
  width: 220px;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 2px 6px 0 rgba(255,120,180,0.4);
}

.btn-yellow:hover {
  background: linear-gradient(135deg, #FF0000 0%, #B22222 100%);
  border: none;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(255,120,180,0.4);
}
.edit-delete-button {
  background: linear-gradient(135deg, #21c7d0 0%, #2dde98 100%);
  border: none;
  width: 220px;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 2px 6px 0 rgba(45,222,152,0.4);
}
.edit-delete-button:hover {
  background: linear-gradient(135deg, #1a9da4 0%, #2dde98 100%);
  border: none;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(45,222,152,0.4);
}
.goback {
  margin-top: 70px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: space-around;
  .btn-yellow {
    margin: 10px;
  }
}

.submit {
  background: linear-gradient(135deg, #21c7d0 0%, #2dde98 100%);
  border: none;
  width: 100%;
  font-color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
  box-shadow: 0 2px 6px 0 rgba(45,222,152,0.4);
}

.submit:hover {
  background: linear-gradient(135deg, #1a9da4 0%, #2dde98 100%);
  border: none;
  font-weight: bolder;
  color: white;
  box-shadow: 0 5px 10px 0 rgba(45,222,152,0.4);
}
.btn-search {
  background: linear-gradient(135deg, #21c7d0 0%, #2dde98 100%);
  border: none;
  width: 220px;
  height: 53px;
  border-radius: 25px;
  text-align: center;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  margin-left: 8px;
  box-shadow: 0 2px 6px 0 rgba(45,222,152,0.4);
}
.btn-search:hover {
  background: linear-gradient(135deg, #1a9da4 0%, #2dde98 100%);
  border: none;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(45,222,152,0.4);
}
